// Override default variables before the import
$body-bg: #fff;

.root {
    height: 100%;
}

.app-aside {
    position: fixed;
    z-index: 800;
}

.app-body {
    height: 100%;
    display: flex;
}

.app-header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 890;
    padding: 1%;
    display: flex;
    @media screen and (max-width: 426px) {
        height: 8%;
    }
    .header-logo {
        width: 15%;
        >img {
            width: 15%;
        }
        @media screen and (max-width: 426px) {
            width: 38%;
        }
    }

    .app-header-navbar {
        width: 90%;

        @media screen and (max-width: 426px) {
            width: 62%;
        }
    }
}

.app-sidebar {
    padding: 1%;
    position: absolute;
    text-align: left;
    width: 15%;
    min-height: 100%;
    @media screen and (max-width: 426px) {
        width: 100%;
        padding: 2%;
        min-height: 0;
        height: 38%;
        min-width: 100%;
        transform: translate(0px, -80px);
    }
    >ul {
        margin-top: 30%;
        @media screen and (max-width: 426px) {
            margin-top: 40%;
        }
    }
    
}

.app-main {
        position: absolute;
        width: 85%;
        right: 0;
        padding: 1% 1% 1% 0;
        @media screen and (max-width: 426px) {
            position: absolute;
            padding: 1% 1% 1% 0;
            margin-top: 45%;
            left: 0;
        }
}

.bg-dark {
    background-color: #3a3f51;
    color: #a6a8b1;
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';